.intro h1{font-size:65px}

.full-monty {
    background: url(../img/workshop/monty-python.jpg) no-repeat;
    background-size: cover;
}
    .slide.full-monty h1 {
        color: #fff;
        position: absolute;
        top: 60%;
    }
    .full-monty aside {
        font-size: 60%;
        position: absolute;
        display: inline-block;
        background: rgba(255, 255, 255, .3);
        bottom: 20px;
        right: 20px;
        padding: 2px;
        border-radius: 2px;
    }
